:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0 5rem;
  min-height: 100%;
  background-color: #977fbe;
  color: #2b303a;
}

h1 {
  color: #ffffff; 
  font-family: 'Raleway', sans-serif;
   font-size: 62px;
    font-weight: 800;
     line-height: 72px;
      margin: var(font-size);
       text-align: center;
        text-shadow: #2b303a;
        text-transform: uppercase; 
        justify-content: center;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  min-width: 20rem;
  border: thick solid whitesmoke;
  border-radius: 0.3rem;
  margin-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: 0.5rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset i.add {
  cursor: pointer;
  color: #760080;
}

fieldset i.subtract {
  cursor: pointer;
  color: #45f6e5;
}
